<header>
  <div class="menu">
    <div class="container-fluid">
      <div class="navbar-header">
        <a routerLink="/home">Data Analysis (Football)</a>
      </div>
      <div>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/sign" ><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li><a routerLink="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          <li><a (click)="logout()"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>