header{
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #00547E;
    border-bottom: 4px solid #04A3ED;
    margin-bottom: 30px;
}
.menu {
    width:100%;
    height: auto;
    padding: 0 10px;
    margin: 0px;
    z-index: 1;
    opacity: 0.9;
}
.menu  .navbar-nav > .active > a{
    background-color : #04A3ED;
    color: white;
    font-weight: bold;
}

.menu  .navbar-nav >  li >  a
{
    font-size: 13px;
    color: white;
    padding: 10px 15px;

}
.menu  .navbar-nav >  li >  a:hover
{
    background-color: #04A3ED;
}

.navbar-header > a
{
    font-family: 'Ubuntu Condensed', sans-serif;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    color: white;
    font-size: 25px;
    padding: 5px 30px;
}
.navbar-header > a:hover
{
    text-decoration: none;
    color: #04A3ED;
}