.widget{
    float: left;
}
.chart1-wrap{
    max-width: 600px;
    width: 100%;
}
.team-selector{
    margin: 10px;
    color: #00547e;
}
.widget.chart1>div{
    background-color: #f0f8ff;
    padding-left: 10px;
}

#tooltip {
    position: absolute;
    width: 180px;
    height: auto;
    padding: 5px;
    background-color: #333;
    color: #fff;
    opacity: 0.8;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4);
    pointer-events: none;
    z-index: 9999;
}

#tooltip.hidden {
    display: none;
}

#tooltip p {
    margin: 0;
    font-family: sans-serif;
    font-size: 12px;
    line-height: 16px;
}
#tooltip p img{
    padding-right: 10px;
}
.chart1 .widget svg{
    position: inherit;
}
@media screen and (max-width: 460px) {
    .widget.chart1 {
        padding-left: 0;
    }
}