<div class="container match-widget">
    <h1>Match Stats — Team Stats</h1>
    <div class="row nav-area">
        <div class="col-md-12">
            <div class="col-md-3">
                <button type="button" class="btn btn-primary" (click)="attack_graph()">Attack</button>
            </div>
            <div class="col-md-3">
                <button type="button" class="btn btn-primary" (click)="play_graph()">General Play</button>
            </div>
            <div class="col-md-3">
                <button type="button" class="btn btn-primary" (click)="distribution_graph()">Distribution</button>
            </div>
            <div class="col-md-3">
                <button type="button" class="btn btn-primary" (click)="defence_graph()">Defence & Discipline</button>
            </div>
        </div>
    </div>
    <div class="row header-area">
        <div class="col-md-6">
            <div class="team-logo">
                <img src="/assets/icons/manchester.png" />
                <span>MANCHESTER UNITED</span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="team-logo">
                <img src="/assets/icons/liverpool.png" />
                <span>LIVERPOOL</span>
            </div>
        </div>
    </div>
    <div class="row chart-area" aria-hidden="false">
        <div class="chart">
            <div class="col-md-12">
                <p class="title"></p>
                <div class="col-md-6">
                    <div class="left"></div>
                </div>
                <div class="col-md-6">
                    <div class="right"></div>
                </div>
            </div>
            <div class="col-md-12">
                <p class="title"></p>
                <div class="col-md-6">
                    <div class="left"></div>
                </div>
                <div class="col-md-6">
                    <div class="right"></div>
                </div>
            </div>
            <div class="col-md-12">
                <p class="title"></p>
                <div class="col-md-6">
                    <div class="left"></div>
                </div>
                <div class="col-md-6">
                    <div class="right"></div>
                </div>
            </div>
            <div class="col-md-12">
                <p class="title"></p>
                <div class="col-md-6">
                    <div class="left"></div>
                </div>
                <div class="col-md-6">
                    <div class="right"></div>
                </div>
            </div>
            <div class="col-md-12">
                <p class="title"></p>
                <div class="col-md-6">
                    <div class="left"></div>
                </div>
                <div class="col-md-6">
                    <div class="right"></div>
                </div>
            </div>
            <div class="col-md-12">
                <p class="title"></p>
                <div class="col-md-6">
                    <div class="left"></div>
                </div>
                <div class="col-md-6">
                    <div class="right"></div>
                </div>
            </div>
            <div class="col-md-12">
                <p class="title"></p>
                <div class="col-md-6">
                    <div class="left"></div>
                </div>
                <div class="col-md-6">
                    <div class="right"></div>
                </div>
            </div>
        </div>
    </div>
</div>
